<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <% if end_user_signed_in? %>
          <%= link_to root_path, class:"btn btn-default btn-lg" do %>
          LOGO
          <% end %>
          <%= link_to "マイページ", end_users_path %>
          <%= link_to "商品一覧", items_path %>
          カート
          <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
           <% elsif admin_signed_in? %>
          <%= link_to root_path, class:"btn btn-default btn-lg" do %>
          LOGO
          <% end %>
           商品一覧
           <%= link_to "会員一覧", admin_end_users_path %>
           注文履歴一覧
           ジャンル一覧
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          <% else %>
          <%= link_to root_path, class:"btn btn-default btn-lg" do %>
          LOGO
          <% end %>
          <%= link_to "商品一覧", items_path %>
          <%= link_to "新規登録", new_end_user_registration_path %>
          <%= link_to "ログイン", new_end_user_session_path %>
          <% end %>
    <%= yield %>
  </body>
</html>
