<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <% if end_user_signed_in? %>
        <div class="logo">
            <%= link_to root_path, class:"btn btn-default btn-lg" do %>
            LOGO
            <% end %>
        </div>
        <div class="first">
            <%= link_to end_users_path, class:"btn btn-default btn-sm" do %>
            マイページ
            <% end %>
        </div>
        <div class="list">
            <%= link_to items_path, class:"btn btn-default btn-sm" do %>
            商品一覧
            <% end %>
        </div>
        <div class="list">
            <%= link_to cart_items_path, class:"btn btn-default btn-sm" do %>
            カート
            <% end %>
        </div>
        <div class="list">
            <%= link_to destroy_end_user_session_path, method: :delete, class:"btn btn-default btn-sm" do %>
            ログアウト
            <% end %>
        </div>
        <% elsif admin_signed_in? %>
        <span class="logo">
            <%= link_to root_path, class:"btn btn-default btn-lg" do %>
            LOGO
            <% end %>
        </span>
        <span class="first">
            <%= link_to admin_items_path, class:"btn btn-default btn-sm" do %>
            商品一覧
            <% end %>
        </span>
        <span class="list">
            <%= link_to admin_end_users_path, class:"btn btn-default btn-sm" do %>
            会員一覧
            <% end %>
        </span>
        <span class="list">
            注文履歴一覧
        </span>
        <span class="list">
            <%= link_to admin_genres_path, class:"btn btn-default btn-sm" do %>
            ジャンル一覧
            <% end %>
        </span>
        <span class="list">
            <%= link_to destroy_admin_session_path, method: :delete, class:"btn btn-default btn-sm" do %>
            ログアウト
            <% end %>
        </span>
        <% else %>
        <span class="logo">
            <%= link_to root_path, class:"btn btn-default btn-lg" do %>
            LOGO
            <% end %>
        </span>
        <span class="first">
            <%= link_to items_path, class:"btn btn-default btn-sm" do %>
            商品一覧
            <% end %>
        </span>
        <span class="list">
            <%= link_to new_end_user_registration_path, class:"btn btn-default btn-sm" do %>
            会員登録
            <% end %>
        </span>
        <span class="list">
            <%= link_to new_end_user_session_path, class:"btn btn-default btn-sm" do %>
            ログイン
            <% end %>
        </span>
        <% end %>
    </header>
    <%= yield %>
</body>

</html>